<div class="navigationMenu">
    <div id="navigationMenu" class="border border-white"> Welcome @ViewData["User"] </div>
    <ul class="list-hidden liste">
        <li><a href="#">User setting</a></li>
        <li><a href="#">Change Password</a></li>
        <li><a href="#">Logoff</a></li>
    </ul>
</div>
